@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #362726;
  --sec-color: #edceab;
  /* --muted-color: #f6ede3; */
  --muted-color: #e9ded1;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: var(--muted-color);
  overflow-x: hidden !important;
}

.tow-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1280px) {
  .tow-container {
    max-width: 1184px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.txtHover {
  color: var(--sec-color) !important;
}

.txtHover:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.tow-vector {
  transform: rotate(304deg);
  height: 150%;
  right: -315px;
  width: 622px;
}

.tow-tab span {
  border: none !important;
  box-shadow: none !important;
  background-color: var(--sec-color);
  padding: 18px 70px !important;
  border-radius: 30px !important;
}

.tow-tab[aria-selected="false"] div {
  color: #edceab4e !important;
}

.tow-tab-bg[aria-selected="false"] div {
  color: #938c84 !important;
}

.tow-show-mob {
  display: none;
}

.tow-card {
  background-color: #fff;
  border-radius: 16px;
  display: grid;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  /* -webkit-transform: translateZ(0);
  transform: translateZ(0); */
}

@media (min-width: 960px) {
  .mjwfhpf {
    max-width: 464px;
  }
}

@media (max-width: 1135px) {
  .tow-hide-tab {
    display: none;
  }
  .tow-show-mob {
    display: flex;
  }
}

@media (max-width: 500px) {
  .noMarg {
    margin: 0 !important;
    margin-top: 48px !important;
    padding: 0 !important;
  }
  .tow-hidden-mb {
    display: none;
  }
  .reset-min-w {
    min-width: unset !important;
  }
  .tow-tab span {
    border: none !important;
    box-shadow: none !important;
    background-color: var(--sec-color);
    padding: 14px 20px !important;
    font-size: 20px !important;
  }

  .svg-mob svg {
    width: 100% !important;
    height: 60px !important;
  }

  .mob-center {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .tow-card {
    border-radius: 0;
  }
}
